<%# the rendered comment is accessible through a variable %>
<%# named the same as the partial file %>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>  
  <br>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>